@import 'util.less';

#announcements{
    ._list{
        overflow: hidden;
        ._listItemWrap{
            overflow: hidden;
            padding: 10px 0px;
            display: none;
            &.show{
                display: block;
            }
            ._listItem{
                float: left;
                width: 510px;
                margin: 0px 20px 20px 20px;
                height: 160px;
                background-color: #fff;
                padding: 20px;
                border-top: 2px solid #fff;
                .animation();
                .boxShadow(0px 0px 5px #ccc);
                &:hover{
                    border-top: 2px solid @red;
                }
                ._title{
                    display: block;
                    height: 60px;
                    font-size: 16px;
                    color: #333;
                    line-height: 22px;
                }
                ._date{
                    font-size: 12px;
                    color: #999;
                }
                ._buttons{
                    margin-top: 25px;
                    a{
                        color: #666;
                        font-size: 14px;
                        text-decoration: none;
                        margin-right: 25px;
                        .animation();
                        ._icon_1,
                        ._icon_2{
                            display: inline-block;
                            margin-right: 6px;
                            height: 18px;
                            vertical-align: -4px;
                        }
                        ._icon_2{
                            display: none;
                        }
                        &:hover{
                            color: @red;
                            ._icon_2{
                                display: inline-block;
                            }
                            ._icon_1{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    ._pagination{
        text-align: center;
        ._pageItem{
            display: inline-block;
            width: 32px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            color: #666;
            font-size: 12px;
            margin: 0px 6px;
            border: 1px solid #ddd;
            .radius(2px);
            .animation();
            &:hover{
                cursor: pointer;
                color: @red;
            }
            &.active{
                color: @red;
                border-color: @red;
            }
        }
    }
}