#announcements ._list {
  overflow: hidden;
}
#announcements ._list ._listItemWrap {
  overflow: hidden;
  padding: 10px 0px;
  display: none;
}
#announcements ._list ._listItemWrap.show {
  display: block;
}
#announcements ._list ._listItemWrap ._listItem {
  float: left;
  width: 510px;
  margin: 0px 20px 20px 20px;
  height: 160px;
  background-color: #fff;
  padding: 20px;
  border-top: 2px solid #fff;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  box-shadow: 0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
  -moz-box-shadow: 0px 0px 5px #ccc;
  -ms-box-shadow: 0px 0px 5px #ccc;
  -o-box-shadow: 0px 0px 5px #ccc;
}
#announcements ._list ._listItemWrap ._listItem:hover {
  border-top: 2px solid #DC0315;
}
#announcements ._list ._listItemWrap ._listItem ._title {
  display: block;
  height: 60px;
  font-size: 16px;
  color: #333;
  line-height: 22px;
}
#announcements ._list ._listItemWrap ._listItem ._date {
  font-size: 12px;
  color: #999;
}
#announcements ._list ._listItemWrap ._listItem ._buttons {
  margin-top: 25px;
}
#announcements ._list ._listItemWrap ._listItem ._buttons a {
  color: #666;
  font-size: 14px;
  text-decoration: none;
  margin-right: 25px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
#announcements ._list ._listItemWrap ._listItem ._buttons a ._icon_1,
#announcements ._list ._listItemWrap ._listItem ._buttons a ._icon_2 {
  display: inline-block;
  margin-right: 6px;
  height: 18px;
  vertical-align: -4px;
}
#announcements ._list ._listItemWrap ._listItem ._buttons a ._icon_2 {
  display: none;
}
#announcements ._list ._listItemWrap ._listItem ._buttons a:hover {
  color: #DC0315;
}
#announcements ._list ._listItemWrap ._listItem ._buttons a:hover ._icon_2 {
  display: inline-block;
}
#announcements ._list ._listItemWrap ._listItem ._buttons a:hover ._icon_1 {
  display: none;
}
#announcements ._pagination {
  text-align: center;
}
#announcements ._pagination ._pageItem {
  display: inline-block;
  width: 32px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #666;
  font-size: 12px;
  margin: 0px 6px;
  border: 1px solid #ddd;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
#announcements ._pagination ._pageItem:hover {
  cursor: pointer;
  color: #DC0315;
}
#announcements ._pagination ._pageItem.active {
  color: #DC0315;
  border-color: #DC0315;
}
