#layer66B38439E0D774331C32BDEE82CA8AEA .full_content {
  overflow: hidden;
}
#layer911B19346A06991E15EDAAE7D3ABD1EB.active a,
#layer8340130A211DD5A33BDC0CCDDD5068B7.active a {
  background-color: #dc0315 !important;
}
#layer911B19346A06991E15EDAAE7D3ABD1EB.active a span,
#layer8340130A211DD5A33BDC0CCDDD5068B7.active a span {
  color: #fff !important;
}
#layer29A5A1158E90E07C90B0BA9DA0C5D98D,
#layer4CD5086FB631934A61A55138D690880F {
  opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
  filter: alpha(opacity=0);
  left: -150% !important;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
}
#layer29A5A1158E90E07C90B0BA9DA0C5D98D.show,
#layer4CD5086FB631934A61A55138D690880F.show {
  opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
  filter: alpha(opacity=10);
  left: 0%!important;
  right: 0%!important;
  margin: auto;
}
#layer2B949C5B981F15336666D5C5BF5F8210,
#layer85600F483B70BC030C5A8B6FE1FA4C78 {
  opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
  filter: alpha(opacity=0);
  left: 150%!important;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
}
#layer2B949C5B981F15336666D5C5BF5F8210.show,
#layer85600F483B70BC030C5A8B6FE1FA4C78.show {
  opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
  filter: alpha(opacity=10);
  left: 0%!important;
  right: 0%!important;
  margin: auto;
}
