#layer2230A51786149C5E3CF67E20E84142E0 .full_content {
  overflow: hidden;
}
#layer5F0595938E486F7557CC1003D1F475AD.active a,
#layerBB4B038002EAEAE37EB5CABFBB800944.active a {
  background-color: #dc0315 !important;
}
#layer5F0595938E486F7557CC1003D1F475AD.active a span,
#layerBB4B038002EAEAE37EB5CABFBB800944.active a span {
  color: #fff !important;
}
#layer5F677FF23032A88472CB43D8CA957AB4,
#layer72B2C4D6DC65A7076D5CE6A479F83438 {
  opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
  filter: alpha(opacity=0);
  left: -150% !important;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
}
#layer5F677FF23032A88472CB43D8CA957AB4.show,
#layer72B2C4D6DC65A7076D5CE6A479F83438.show {
  opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
  filter: alpha(opacity=10);
  left: 50px!important;
}
#layer972CC187F72FB710944166E28610DB4F,
#layer66CE516183D6199FD295B3AD01ED8D06 {
  opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
  filter: alpha(opacity=0);
  left: 150%!important;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
}
#layer972CC187F72FB710944166E28610DB4F.show,
#layer66CE516183D6199FD295B3AD01ED8D06.show {
  opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
  filter: alpha(opacity=10);
  left: 50px!important;
}
