#layer127FF103BE70D44B02F4CBDCFB55EB30 .full_content {
  overflow: hidden;
}
#layer321246A86A9E0E4EA8B31DDE884591F3.active a,
#layerE9E5CA989B700562C51A03CD4AA33263.active a {
  background-color: #dc0315 !important;
}
#layer321246A86A9E0E4EA8B31DDE884591F3.active a span,
#layerE9E5CA989B700562C51A03CD4AA33263.active a span {
  color: #fff !important;
}
#layerC5BBECDA68DCB51E4BFE3608A95A5AC0,
#layerE73D68B83EA46934491FBBAEF770CB67 {
  opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
  filter: alpha(opacity=0);
  left: -150% !important;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
}
#layerC5BBECDA68DCB51E4BFE3608A95A5AC0.show,
#layerE73D68B83EA46934491FBBAEF770CB67.show {
  opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
  filter: alpha(opacity=10);
  left: 0%!important;
  right: 0%!important;
  margin: auto;
}
#layerFE5314923DA592A60D77A758DE68C012,
#layerDABBB84CEC504980AF31D5DBB4DF1B64 {
  opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
  filter: alpha(opacity=0);
  left: 150%!important;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
}
#layerFE5314923DA592A60D77A758DE68C012.show,
#layerDABBB84CEC504980AF31D5DBB4DF1B64.show {
  opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
  filter: alpha(opacity=10);
  left: 0%!important;
  right: 0%!important;
  margin: auto;
}
