#Website {
  background-image: url(http://pmt8e84ed.pic16.websiteonline.cn/upload/k8et.png);
  height: 3200px;
}
#global-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999999;
  height: 60px;
  border-bottom: 1px solid #ffffff;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
#global-menu .global-menu-container {
  margin: 0px auto;
  width: 1100px;
  height: 100%;
}
#global-menu .global-menu-container .global-menu-logo {
  display: inline-block;
  height: 36px;
  margin-top: 10px;
  text-decoration: none;
  cursor: pointer;
}
#global-menu .global-menu-container .global-menu-logo img {
  height: 100%;
}
#global-menu .global-menu-container .global-menu-menus {
  float: right;
  height: 100%;
}
#global-menu .global-menu-container .global-menu-menus .global-menu-menus-item {
  position: static;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  cursor: pointer;
}
#global-menu .global-menu-container .global-menu-menus .global-menu-menus-item > a {
  font-size: 14px;
  color: #fff;
  display: block;
  padding: 0px 15px;
  height: 100%;
  line-height: 60px;
  text-decoration: none;
}
#global-menu .global-menu-container .global-menu-menus .global-menu-menus-item .global-menu-subMenus {
  position: absolute;
  overflow: hidden;
  top: 60px;
  left: 0px;
  right: 0px;
  margin: auto;
  height: 0px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
#global-menu .global-menu-container .global-menu-menus .global-menu-menus-item .global-menu-subMenus ._subMenusWrap {
  position: absolute;
  display: inline-block;
}
#global-menu .global-menu-container .global-menu-menus .global-menu-menus-item .global-menu-subMenus ._subMenusWrap.right {
  right: 0px!important;
  left: auto!important;
}
#global-menu .global-menu-container .global-menu-menus .global-menu-menus-item .global-menu-subMenus ._subMenusWrap > a {
  display: inline-block;
  line-height: 45px;
  vertical-align: top;
  padding: 0px 15px;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
#global-menu .global-menu-container .global-menu-menus .global-menu-menus-item .global-menu-subMenus.show {
  height: 45px;
}
#global-menu .global-menu-container .global-menu-menus .lang {
  position: static;
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
#global-menu .global-menu-container .global-menu-menus .lang a {
  padding: 4px;
  border: 1px solid #fff;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  margin-top: 19px;
}
#global-menu .global-menu-container .global-menu-menus .lang a:hover {
  background-color: #fff;
  color: #000;
}
#global-menu .global-menu-container .global-menu-menus .global-menu-active {
  position: absolute;
  display: none;
  bottom: -1px;
  z-index: 1;
  height: 3px;
  width: 28px;
  padding: 0px 2px;
  left: 15px;
  background-color: #fff;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
#global-menu .global-menu-container .global-menu-menus .global-menu-active.show {
  display: block;
}
#global-menu.hide {
  top: -62px;
}
#global-menu.dark {
  background-color: rgba(33, 33, 33, 0.7);
  border-bottom: none;
}
#global-menu.dark .global-menu-subMenus {
  background-color: rgba(66, 66, 66, 0.7) !important;
}
