#layerB93FA94BBF790B2BF7B69FF26F7F177A .full_content > div {
  box-shadow: 0px 0px 4px #ddd;
  -webkit-box-shadow: 0px 0px 4px #ddd;
  -moz-box-shadow: 0px 0px 4px #ddd;
  -ms-box-shadow: 0px 0px 4px #ddd;
  -o-box-shadow: 0px 0px 4px #ddd;
}
